/* ----- CHIPS STYLING ----- */
.chip {
    /* width: 130px; */
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 12px;
    display: inline-block;
}

.chip.available,
.chip.returned {
    background-color: var(--success-chip-bg-color);
    color: var(--success-chip-text-color);
}

.chip.out-of-stock,
.chip.not-returned {
    background-color: var(--error-chip-bg-color);
    color: var(--error-chip-text-color);
}

.chip.maintenance,
.chip.consumed {
    background-color: var(--info-chip-bg-color);
    color: var(--info-chip-text-color);
}

.chip.low-stock {
    background-color: var(--warning-chip-bg-color);
    color: var(--warning-chip-text-color);
}

.chip.expired {
    background-color: var(--table-header-color);
    color: var(--primary-text-color);
}