/* ----- SEARCH BAR STYLING ----- */
.search {
    display: flex;
    align-items: center;
}

.search input {
    border: 1px solid var(--border-color);
    border-right: none;
    border-radius: 8px 0 0 8px;
    width: 250px;
    height: 35px;
    padding: 8px;
    padding-right: 0;
    font-size: 14px;
}

.search input:focus {
    outline: none;
}

.search button {
    border: 1px solid var(--border-color);
    border-left: none;
    border-radius: 0 8px 8px 0;
    height: 35px;
    padding: 0 8px;
    cursor: pointer;
}


/* ----- FILTERS STYLING ----- */
.filter {
    flex: 1;
    display: flex;
    gap: 15px;
}

/* .status-filter {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 150px;
    height: 35px;
    font-size: 14px;
    padding: 6px;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */


/* ----- FILTER BUTTON STYLING ----- */
.filter-btn {
    width: 85px;
    height: 35px;
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--table-header-color);
    color: var(--primary-text-color);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: var(--table-header-hover-color);
}


/* ----- GENERATE REPORT BUTTON STYLING ----- */
.generate-btn {
    width: 160px;
    height: 35px;
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--foreground-color);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.generate-btn:hover {
    background-color: var(--secondary-hover-color);
}


/* ----- MAIN BUTTON STYLING ----- */
.main-btn {
    width: 160px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--foreground-color);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.main-btn:hover {
    background-color: var(--primary-hover-color);
}
