/* ----- MODAL FORMS STYLING: ADD AND EDIT ----- */
.modal-content.add .add-stock-form,
.modal-content.edit .edit-stock-form,
.modal-content.view .view-stock-form,
.modal-content.view-expired .view-stock-form,
.modal-content.add .add-request-form,
.modal-content.edit .edit-request-form,
.modal-content.view .view-request-form,
.modal-content.add .add-order-form,
.modal-content.edit .edit-order-form,
.modal-content.view .view-order-form,
.modal-content.add .add-bus-form,
.modal-content.edit .edit-bus-form,
.modal-content.view .view-bus-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.form-column {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-row {
    display: flex;
    gap: 16px;
}

.form-group label {
    font-weight: 600;
    color: var(--secondary-text-color);
    font-size: 14px;
}

.form-group input,
.form-group textarea,
.form-group select {
    margin-top: 5px;
    background-color: var(--foreground-color);
    border: 1px solid var(--foreground-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.form-group input {
    padding: 6px 12px;
}

.form-group textarea {
    padding: 6px 12px;
    width: 500px;
    height: 80px;
    resize: none;
}

.form-group textarea.order {
    padding: 6px 12px;
    width: 300px;
    height: 100%;
    resize: none;
}

.form-group input[type='number'] {
    width: 100%;
    padding: 6px 12px;
}

.form-group select {
    padding: 8px 12px;
}

.edit-stock-form .form-group.category {
    margin-bottom: 5px;
}

.edit-stock-form .form-group.expiration {
    margin: 5px 0;
}

/* disabled styles */
.form-group input:disabled,
.form-group textarea:disabled,
.form-group select:disabled {
    cursor: not-allowed;
}

.form-group select:disabled {
    appearance: none;
    padding: 6px 12px;
}

.form-group input:disabled:hover,
.form-group textarea:disabled:hover,
.form-group select:disabled:hover {
    border-color: var(--foreground-color);
}

/* hover and focus styles */
.form-group input:hover,
.form-group textarea:hover,
.form-group select:hover {
    border-color: var(--border-color);
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline: none;
    border-color: var(--primary-text-color);
}


/* ----- MODAL FORMS STYLING: VIEW ----- */
.modal-content.view {
    min-width: 550px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 15px 0;
}

.modal-content.view-expired {
    background-color: var(--error-chip-bg-color);
    min-width: 550px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 15px 0;
}

.view-stock-form .form-group,
.view-request-form .form-group,
.view-order-form .form-group,
.view-bus-form .form-group {
    margin-bottom: 5px;
}

.view-stock-form .form-group p,
.view-request-form .form-group p,
.view-order-form .form-group p,
.view-bus-form .form-group p {
    margin-top: 5px;
    padding: 6px 12px;
    background-color: var(--foreground-color);
    border: 1px solid var(--foreground-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-size: 14px;
}


/* ----- MODAL FORMS STYLING: DELETE ----- */
.modal-heading.delete {
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.modal-heading.delete i {
    font-size: 26px;
    color: var(--error-color);
}

.modal-content.delete {
    background-color: var(--foreground-color);
    text-align: center;
}

.modal-actions.delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 32px;
}


/* ----- INPUT VALIDATION STYLINGS ----- */
.form-group input.invalid-input,
.form-group textarea.invalid-input,
.form-group select.invalid-input {
    border: 1px solid var(--error-color);
    outline: none;
}

.add-stock-form .add-error-message,
.edit-stock-form .edit-error-message,
.add-request-form .add-error-message,
.edit-request-form .edit-error-message,
.add-order-form .add-error-message,
.edit-order-form .edit-error-message,
.add-bus-form .add-error-message,
.edit-bus-form .edit-error-message {
    margin: 5px;
    font-size: 12px;
    color: var(--error-color);
}

.add-stock-form .add-error-message.quantity {
    margin-top: -5px;
    margin-bottom: 5px;
}