@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  /* Main Colors */
  --background-color: #F3F2F9;
  --foreground-color: #FFFFFF;
  --primary-color: #961C1E;
  --secondary-color: #FEB71F;

  /* Text Colors */
  --primary-text-color: #000000;
  --secondary-text-color: #404040;

  /* Semantic COlors */
  --success-color: #13CE66;
  --error-color: #FF4949;
  --info-color: #2D8EFF;
  --warning-color: #FFCC3D;

  /* Table Colors */
  --border-color: #B3B3B3;
  --table-header-color: #D8D8D8;
  --table-row-color: #ECECEC;
  --table-hover-color: #D6E4FF;

  /* Chip Colors */
  --success-chip-bg-color: #D1F7D1;
  --error-chip-bg-color: #FFDDDD;
  --info-chip-bg-color: #D6E4FF;
  --warning-chip-bg-color: #FFF5C2;
  --expired-chip-bg-color: #D9D9D9;
  --success-chip-text-color: #23915F;
  --error-chip-text-color: #A50000;
  --info-chip-text-color: #0050B3;
  --warning-chip-text-color: #85643B;

  /* Hover Colors */
  --primary-hover-color: #761C1D;
  --secondary-hover-color: #ECAB1E;
  --success-hover-color: #12B75C;
  --error-hover-color: #DE3939;
  --info-hover-color: #267BDB;
  --warning-hover-color: #fcc42a;
  --table-row-hover-color: #DDDDDD;

  /* Shadow */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  background: var(--background-color);
  color: var(--primary-text-color);
}

/* TEMPORARY LANGGGGG */
/* .login-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-btn {
  width: 180px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--foreground-color);
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background: var(--primary-hover-color);
} */