/* ----- MODAL STYLING ----- */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.modal {
	animation: modal-fade-in 0.2s ease-out;
	background-color: var(--foreground-color);
	padding: 32px;
	border-radius: 8px;
	max-height: calc(100% * 14 / 19);
	max-width: calc(100% * 14 / 24);
	position: relative;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	overflow-y: auto;
}

.modal::-webkit-scrollbar {
	width: 8px;
    height: 8px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 4px;
}

.modal::-webkit-scrollbar-track {
    background-color: var(--table-row-color);
	border-radius: 0 12px 12px 0;
}

.close-modal-btn {
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	top: 12px;
	right: 16px;
	font-size: 20px;
	color: var(--primary-text-color);
	transition: all 0.3s ease-in-out;
}

.close-modal-btn:hover {
    background-color: var(--table-row-color);
}

.modal-heading {
	margin: 15px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
}

.modal-title {
	font-size: 24px;
	font-weight: 700;
}

.modal-subtitle {
	font-size: 18px;
	font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
}

.modal-date-time {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 25px;
	font-size: 14px;
}

.modal-content {
    background-color: var(--table-row-color);
	padding: 16px;
	margin: 10px 0;
	margin-bottom: 20px;
	border-radius: 8px;
}

.modal-actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 20px;
	margin-top: 32px;
}

/* ----- BUTTONS ----- */

/* submit stock button */
.modal-actions .submit-btn {
    width: 170px;
    height: 35px;
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--foreground-color);
    font-size: 14px;
	font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.modal-actions .submit-btn i {
	font-weight: 500;
}

.modal-actions .submit-btn:hover {
    background-color: var(--primary-hover-color);
}

/* add another stock button */
.modal-actions .add-another-btn {
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--table-row-color);
    font-size: 14px;
	font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.modal-actions .add-another-btn:hover {
    background-color: var(--table-row-hover-color);
}

.modal-actions .add-another-btn i {
	font-weight: 500;
}

/* remove stock button */
.remove-btn-wrapper {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.remove-btn-wrapper .remove-stock-btn,
.remove-btn-wrapper .remove-request-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--error-color);
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.remove-btn-wrapper .remove-stock-btn:hover,
.remove-btn-wrapper .remove-request-btn:hover {
    background-color: var(--table-row-hover-color);
}

/* remove expired button */
.remove-btn-wrapper.expired {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.remove-btn-wrapper.expired .remove-stock-btn{
    padding: 0 3px;
    background-color: transparent;
    color: var(--error-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* delete stock button */
.modal-actions.delete .delete-btn {
    width: 120px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--foreground-color);
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.modal-actions.delete .delete-btn:hover {
    background-color: var(--primary-hover-color);
}

/* cancel button */
.modal-actions.delete .cancel-btn {
    width: 120px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--table-row-color);
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.modal-actions.delete .cancel-btn:hover {
    background-color: var(--table-row-hover-color);
}

/* preview pdf button */
.modal-actions .preview-btn {
    width: 170px;
    height: 35px;
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--foreground-color);
    font-size: 14px;
	font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.modal-actions .preview-btn i {
	font-weight: 500;
}

.modal-actions .preview-btn:hover {
    background-color: var(--secondary-hover-color);
}


/* ----- ANIMATIONS ----- */
@keyframes modal-fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}