/* ----- SWEET ALERT CUSTOM STYLING ----- */
.swal-custom-popup {
    border-radius: 8px;
}

/* ----- SWEET ALERT STYLING: General ----- */
.swal2-popup * {
  font-family: "Open Sans", sans-serif;
}

.swal2-title {
    color: var(--primary-text-color);
    font-size: 24px;
}

.swal2-html-container {
    font-size: 16px;
    color: var(--primary-text-color);
    margin: 15px 5px;
}

/* ----- SWEET ALERT STYLING: Success Icon ----- */
.swal2-icon.swal2-success {
  border-color: var(--success-color) !important;
  color: var(--success-color) !important;
}

.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: var(--success-color) !important;
}

/* ----- SWEET ALERT STYLING: Erroe Icon ----- */
.swal2-icon.swal2-error {
  border-color: var(--error-color) !important;
  color: var(--error-color) !important;
}

.swal2-x-mark-line-left,
.swal2-x-mark-line-right {
  background-color: var(--error-color) !important;
}

/* ----- SWEET ALERT STYLING: Warning Icon ----- */
.swal2-icon.swal2-warning {
  border-color: var(--warning-color) !important;
  color: var(--warning-color) !important;
}

/* ----- SWEET ALERT STYLING: Info and Question Icon ----- */
.swal2-icon.swal2-info,
.swal2-icon.swal2-question {
  border-color: var(--info-color) !important;
  color: var(--info-color) !important;
}

/* ----- SWEET ALERT STYLING: Actions ----- */
.swal2-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.swal2-confirm {
    min-width: 120px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--foreground-color);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.swal2-cancel {
    min-width: 120px;
    border-radius: 8px;
    background-color: var(--table-row-color);
    color: var(--primary-text-color);
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.swal2-confirm:hover {
    background-color: var(--primary-hover-color);
}

.swal2-cancel:hover {
    background-color: var(--table-row-hover-color);
}

/* ----- SWEET ALERT STYLING: Progress Bar ----- */
.swal2-timer-progress-bar {
  background: var(--success-color) !important;
  height: 6px !important;
  border-radius: 4px !important;
}