/* ----- SIDEBAR STYLING ----- */
.logo-img {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img img {
    width: 70%;
}

.sidebar {
    position: relative;
    width: calc(100% * 8 / 34);
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

.sidebar-content {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scrollbar-width: none;
}

.sidebar-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.sidebar-content::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 4px;
}

.sidebar-content::-webkit-scrollbar-track {
    background-color: var(--foreground-color);
    border-radius: 8px;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar.collapsed .nav-item span,
.sidebar.collapsed .sub-menu,
.sidebar.collapsed .dropdown-arrow,
.sidebar.collapsed .logout a span,
.sidebar.collapsed .nav-item:hover::before,
.sidebar.collapsed .nav-item.active::before {
    display: none;
}

.sidebar.collapsed .nav-item.active {
    background-color: var(--primary-color);
    color: var(--foreground-color);
}

.sidebar.collapsed .logo-img {
    padding: 0;
    margin: 20px 0 40px 0;
}

.sidebar.collapsed .nav-item,
.sidebar.collapsed .logout a {
    justify-content: center;
}

.sidebar.collapsed .toggle-btn {
    transform: rotate(180deg) translate(-50%, 50%);
    top: 12%;
}


/* ----- SIDEBAR ITEMS STYLING ----- */
.nav-links {
    flex: 1;
    padding: 8px;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 24px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav-item i {
    margin-right: 10px;
}

.nav-item.active {
    color: var(--primary-color);
    font-weight: 600;
}

.nav-item:hover {
    background-color: #FFF1D4;
}

.nav-item:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: var(--secondary-color);
    border-radius: 5px 0 0 5px;
}

.nav-item.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: var(--primary-color);
    border-radius: 5px 0 0 5px;
}


/* ----- SUB-MENU STYLING ----- */
.dropdown-arrow {
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.dropdown-arrow.rotate {
    transform: rotate(180deg);
}

.sub-menu {
    display: none;
    margin: 0 10px;
    font-size: 14px;
}

.sub-menu.active {
    display: block;
}

.sub-item {
    display: block;
    padding: 8px 30px;
    margin: 4px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.sub-item.active {
    background-color: #FFE3E3;
    color: var(--primary-color);
    font-weight: 600;
}

.sub-item:hover {
    background-color: #FFF1D4;
}


/* ----- LOG OUT STYLING ----- */
.logout {
    bottom: 0;
    padding: 8px;
}

.logout a {
    background-color: var(--table-row-color);
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 24px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.logout a:hover {
    background-color: var(--table-row-hover-color);
    color: var(--primary-color);
    font-weight: 600;
}

.logout i {
    margin-right: 10px;
}


/* ----- TOGGLE BUTTON STYLING ----- */
.toggle-btn {
    position: absolute;
    top: 20%;
    right: 0;
    transform: translate(50%, -50%);
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.toggle-btn:hover {
    background-color: var(--primary-hover-color);
}