/* ----- TOP BAR STYLING ----- */
.top-bar {
    width: 100%;
    height: calc(100vh * 2 / 21);
    background-color: var(--foreground-color);
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.top-links {
    display: flex;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.top-link {
    padding: 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.top-link:hover {
    color: var(--secondary-color);
}

.top-link.active {
    color: var(--primary-color);
    font-weight: 600;
}

.link-underline {
    position: absolute;
    bottom: 0;
    height: 4px;
    border-radius: 4px;
    background-color: var(--primary-color);
    transition: all 0.5s ease-in-out;
}